/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.animate-toast {
    backface-visibility: hidden;
    animation: toast-lifecycle 2s ease-in-out forwards;
}

@keyframes toast-lifecycle {
0% { 
    opacity: 0; 
    transform: translate(-50%, -20px); 
}
10% { 
    opacity: 1; 
    transform: translate(-50%, 0); 
}

90% { 
    opacity: 1; 
    transform: translate(-50%, 0); 
}

100% { 
    opacity: 0; 
    transform: translate(-50%, -20px); 
}
}