<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <form 
        [formGroup]="registerForm" 
        (ngSubmit)="onSubmit()"
        class="bg-white p-6 rounded-xl shadow-md w-96"
    >
        <h2 class="text-2xl font-bold mb-4 text-center">Register</h2>

        <input
            type="text"
            formControlName="username"
            placeholder="Username"
            class="w-full p-2 border border-gray-300 rounded mt-2 mb-2 outline-none focus:border-black focus:ring-0 transition-all"
            [class.border-red-500]="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
        />
        <p *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
            class="text-red-500 text-sm">
            Username is required.
        </p>

        <input
            type="email"
            formControlName="email"
            placeholder="josh.rock@gmail.com"
            class="w-full p-2 border border-gray-300 rounded mt-2 mb-2 outline-none focus:border-black focus:ring-0 transition-all"
            [class.border-red-500]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
        />
        <p *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
            class="text-red-500 text-sm">
            Invalid e-mail address.
        </p>

        <div class="relative w-full">
            <input
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
                placeholder="Password"
                class="w-full p-2 pr-10 border border-gray-300 rounded mt-2 mb-2 outline-none focus:border-black focus:ring-0 transition-all"
                [class.border-red-500]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
            />
            
            <button type="button" (click)="hidePassword = !hidePassword" class="absolute right-3 top-[55%] -translate-y-1/2 text-gray-500 hover:text-black cursor-pointer focus:outline-none" >
                <lucide-icon [name]="hidePassword ? 'eye-off' : 'eye'" class="w-5 h-5"></lucide-icon>
            </button>
        </div>
        <p *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
            class="text-red-500 text-sm">
            Password must be at least 8 characters.
        </p>

        <div class="relative w-full">
            <input
                [type]="hideRePassword ? 'password' : 'text'"
                formControlName="repassword"
                placeholder="Re-password"
                class="w-full p-2 pr-10 border border-gray-300 rounded mt-2 mb-2 outline-none focus:border-black focus:ring-0 transition-all"
                [class.border-red-500]="registerForm.get('repassword')?.invalid && registerForm.get('repassword')?.touched"
            />
            
            <button type="button" (click)="hideRePassword = !hideRePassword" class="absolute right-3 top-[55%] -translate-y-1/2 text-gray-500 hover:text-black cursor-pointer focus:outline-none" >
                <lucide-icon [name]="hideRePassword ? 'eye-off' : 'eye'" class="w-5 h-5"></lucide-icon>
            </button>
        </div>
        <p *ngIf="registerForm.get('repassword')?.hasError('passwordMismatch') && registerForm.get('repassword')?.touched"
            class="text-red-500 text-sm">
            Passwords do not match.
        </p>

        <button 
            type="submit" 
            [disabled]="registerForm.invalid"
            class="w-full bg-blue-600 text-white p-2 rounded mt-2 hover:bg-blue-700 cursor-pointer disabled:bg-gray-400 disabled:cursor-not-allowed"
        > 
            Create Account
        </button>

        <p class="text-sm text-center mt-3">
            Already have an account?
            <a routerLink="/login" class="text-blue-600 underline cursor-pointer">
                Log in
            </a>
        </p>
    </form>
</div>